/*
================================
SHARED STYLES
================================
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Dosis", sans-serif;
  font-size: 16px;
}

header,
footer {
  background-color: #1e4040;
  color: #71d99e;
}

header a,
footer a {
  color: #71d99e;
}

i:hover {
  opacity: 0.8;
  cursor: pointer;
}

/*
  ================================
  GRID STYLES
  ================================
  */

.outer-grid {
  display: grid;
  height: 100vh;
  grid-template-rows: 70px 1fr;
  grid-template-columns: 90px 1fr;
  grid-template-areas: "header header" "inner-grid inner-grid";
}

.inner-grid {
  grid-area: inner-grid;
  overflow-y: scroll;
  display: grid;
  grid-template-rows: 1fr auto 60px;
  grid-template-columns: 1fr;
  grid-template-areas: "main main" "aside aside" "footer footer";
}

.outer-grid-expanded {
  grid-template-areas: "header header" "nav inner-grid" !important;
}

/*
  ================================
  HEADER STYLES
  ================================
  */

/*
  ================================
  NAVBAR STYLES
  ================================
  */

nav {
  padding-top: 50px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.nav-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-item i {
  font-size: 0.8rem;
}

/*
  ================================
  MAIN CONTENT STYLES
  ================================
  */

.inner-grid h1,
.inner-grid h2,
.inner-grid h3 {
  margin-top: 10px;
  margin-bottom: 20px;
}

.inner-grid p {
  margin-bottom: 15px;
}

/*
  ================================
  FOOTER STYLES
  ================================
  */

/*
  ================================
  MEDIA QUERIES
  ================================
  */

.logo {
  margin-left: 10px;
}

img {
  max-width: 100%;
  border-radius: 5px;
  box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.2);
}

.hide-nav {
  display: none;
}

nav {
  grid-area: nav;
}

nav a,
nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: #1e4040;
}

footer p {
  color: white;
  margin: 0 !important;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a:hover {
  opacity: 0.8;
}

nav li {
  margin-bottom: 20px;
}

main {
  grid-area: main;
}

aside {
  grid-area: aside;
}

footer {
  grid-area: footer;
}

header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
}

header * {
  margin-right: 10px;
}

.link1 {
  margin-left: auto;
}

main,
aside {
  padding: 20px 5%;
}

article {
  max-width: 600px;
}

.fa-bars {
  margin-left: 20px;
}

.collage {
  height: 500px;
  padding: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 1fr 40px 1fr 40px 1fr;
  align-items: center;
}

.collage * {
  grid-row-start: 1;
  grid-row-end: 3;
}

.collage-1 {
  grid-column-start: 1;
  grid-column-end: 3;
  z-index: 1;
  transform: rotate(-3deg);
}

.collage-2 {
  grid-column-start: 2;
  grid-column-end: 5;
  z-index: 2;
  box-shadow: 2px 4px 10px 2px rgba(0, 0, 0, 0.5);
}

.collage-3 {
  grid-column-start: 4;
  grid-column-end: 6;
  transform: rotate(3deg);
  z-index: 1;
}

@media (min-width: 576px) {
  .outer-grid {
    grid-template-areas: "header header" "nav inner-grid";
  }

  .fa-bars {
    display: none;
  }

  nav {
    display: block !important;
  }

  aside {
    margin-bottom: 50px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
}

@media (min-width: 992px) {
  .inner-grid {
    grid-template-rows: 1fr 60px;
    grid-template-columns: minmax(auto, 700px) 1fr;
    grid-template-areas: "main aside" "footer footer";
  }

  aside {
    padding: 20px 50px;
    max-width: 400px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
  }
}

@media (min-width: 1440px) {
  .outer-grid {
    grid-template-columns: 1fr 900px 1fr;
    grid-template-areas: "header header header" "nav inner-grid inner-grid";
  }

  nav ul {
    align-items: flex-end;
    margin-right: 50px;
  }

  header {
    display: grid;
    grid-template-columns: 1fr 950px 1fr;
    grid-template-areas: "header-left . header-right";
  }

  .header-left {
    grid-area: header-left;
    justify-self: end;
    /* padding-right: 20px; */
  }

  .header-right {
    grid-area: header-right;
    justify-self: start;
  }
}
